{% extends 'layout.html' %}

{% block title %}
History
{% endblock %}

{% block content %}
    
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        th, td {
          text-align: left;
          padding: 6px;
        }
        
        tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
    <div style="overflow-x: auto;">
    <table>
    
        <tr>
            <th>ID</th>
            <th>Original URL</th>
            <th>Shorter URL</th>
        </tr>
    
    
       {% for link in url_shorter %}
        <tr>
            <td>{{link.id}}</td>
            <td>{{link.main_url}}</td>
            <td>{{link.shorter}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>  
{% endblock%}