<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
</head>
<body>
    <div class="header">
        <a><h1>All the available URL</h1></a>
        <div class="header-right">
          <a class="active" href="{{ url_for('home') }}">Home</a>
          <a href="{{ url_for('display_function') }}">Display</a>
        </div>
    </div>
    
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        th, td {
          text-align: left;
          padding: 6px;
        }
        
        tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
    <div style="overflow-x: auto;">
    <table>
    
        <tr>
            <th>ID</th>
            <th>Original URL</th>
            <th>Shorter URL</th>
        </tr>
    
    
       {% for link in url_shorter %}
        <tr>
            <td>{{link.id}}</td>
            <td>{{link.main_url}}</td>
            <td>{{link.shorter}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>  
</body>
</html>