<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
</head>
<body>
    
    <div class="header">
        <a><h1>Welcome to my URL Shortner Application </h1></a>
        <div class="header-right">
          <a class="active" href="{{ url_for('home') }}">Home</a>
          <a href="{{ url_for('display_function') }}">Display</a>
        </div>
    </div>
    <div id="main-body">
        <div>
            <form action="/" method="post">
                <label>Enter the Main URL:</label>
                <input type="text" name="in_1" placeholder="https://www.google.com" required>
                <input type="submit" value="Submit"><br><br>
            </form>
        </div>
        <div>
            <label>Short URL</label>
            <input type="text" value="{{shorter}}" id="myInput" placeholder="Short URL will be displayed here">
            <input type="submit" onclick="myFunction()" value="copy URL">
        </div>
    </div>
    <script>
        function myFunction(){
            var copyText = document.getElementById("myInput");
            copyText.select();
            copyText.setSelectionRange(0,99999);
            navigator.clipboard.writeText(copyText.value);
            alert("Copied the text: " + copyText.value);
        }
    </script>
</body>
</html>