<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Clone of regex101.com</h1>
    <form action="" method="POST">
        <label>Regular Expression</label>
        <input type="text" name="in_1" placeholder="RegEX"><br><br>
        <label>Test String</label>
        <textarea rows="6" cols="30" name="in_2" placeholder="insert test string"></textarea><br><br>
        <button>Submit</button>
    </form>
    <h2>
        Total number of matches found = {{result}}
    </h2>
</body>
</html>